<div class="bg-white">
    <div class="max-w-2xl mx-auto py-0 px-4 sm:py-0 sm:px-6 lg:max-w-7xl lg:px-8">

        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative" *ngFor="let tempProduct of products">
                <div
                    class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="{{tempProduct.imageUrl}}" alt="Loading..."
                        class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">

                                {{tempProduct.name}}
                            </a>
                        </h3>

                    </div>
                    <p class="text-sm pt-1 font-medium text-gray-900"> {{tempProduct.unitPrice}}</p>

                </div>
                <button type="submit" (click)="click()"
                    class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add
                    to Bag</button>

            </div>


            <!-- More products... -->
        </div>
    </div>
</div>