<!-- PAGE WRAPPER -->

<div class="pagewrapper">

  <!-- HEADER -->

  <div class="bg-white sticky top-0 z-50">

    <!-- side hamburger -->
    <div class="fixed inset-0 flex z-40 lg:hidden " role="dialog" aria-modal="true" *ngIf="navbarOpen">

      <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>

      <div class="relative max-w-xs w-full bg-white shadow-xl pb-12 flex flex-col overflow-y-auto">
        <div class="px-4 pt-5 pb-2 flex">
          <button (click)="toggleNavbar()" type="button"
            class="-m-2 p-2 rounded-md inline-flex items-center justify-center text-gray-400">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="border-t border-gray-200 py-6 px-4 space-y-6">
          <div class="flow-root">
            <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Company</a>
          </div>

          <div class="flow-root">
            <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Stores</a>
          </div>
        </div>

        <div class="border-t border-gray-200 py-6 px-4 space-y-6">
          <div class="flow-root">
            <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Sign in</a>
          </div>
          <div class="flow-root">
            <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Create account</a>
          </div>
        </div>

        <div class="border-t border-gray-200 py-6 px-4">
          <a href="#" class="-m-2 p-2 flex items-center">
            <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt="" class="w-5 h-auto block flex-shrink-0">
            <span class="ml-3 block text-base font-medium text-gray-900">
              CAD
            </span>
            <span class="sr-only">, change currency</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end side hamburger -->

    <header class="relative bg-white">
      <!-- offer -->
      <p
        class="bg-indigo-600 h-10 flex items-center justify-center text-sm font-medium text-white px-4 sm:px-6 lg:px-8">
        Get free delivery on orders over $100
      </p>
      <!-- offer end -->
      <nav aria-label="Top" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200">
          <div class="h-16 flex items-center">
            <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
            <button type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden" (click)="toggleNavbar()">
              <span class="sr-only">Open menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
            <!-- Logo -->
            <div class="ml-4 hidden lg:ml-0 lg:flex md:flex">
              <a href="#">
                <span class="sr-only">Workflow</span>
                <img class="h-8 w-auto" src="assets/images/shipkartLogo.png" alt="">
              </a>
            </div>
            <div class="ml-auto flex items-center">
              <!-- Search -->
              <!-- <div class="flex lg:mr-6">
                <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Search</span> -->
              <!-- Heroicon name: outline/search -->
              <!-- <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </a>

              </div> -->
              <!-- second seracg bar -->
              <div class=" relative mx-auto text-gray-600 lg:mr-6 ">
                <app-search></app-search>

              </div>
              <!-- Sign -In and create account -->
              <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                <a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Sign in</a>
                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                <a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Create account</a>
              </div>
              <!-- Canada Flag -->
              <div class="hidden lg:ml-8 lg:flex">
                <a href="#" class="text-gray-700 hover:text-gray-800 flex items-center">
                  <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt=""
                    class="w-5 h-auto block flex-shrink-0">
                  <span class="ml-3 block text-sm font-medium">
                    CAD
                  </span>
                  <span class="sr-only">, change currency</span>
                </a>
              </div>


              <!-- Cart icon -->
              <div class="mr-3 ml-4 flow-root lg:ml-6">
                <a class="group -m-2 p-2 flex items-center">
                  <!-- Heroicon name: outline/shopping-bag -->
                  <svg (click)="toggleCart()"
                    class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500 cursor-pointer"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                  </svg>
                  <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                  <span class="sr-only">items in cart, view bag</span>
                </a>
              </div>
              <!-- modal cart HAMBURGER icon-->
              <div class="flex sm:hidden">
                <button (click)="toggleNavbar2()" type="button"
                  class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500"
                  aria-label="toggle menu">
                  <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                    <path fill-rule="evenodd"
                      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                    </path>
                  </svg>
                </button>
              </div>
              <!-- modal cart  HAMBURGER icon end-->
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>



  <!-- END HEADER -->

  <app-product-category-menu [isOpen]="isOpen"></app-product-category-menu>

  <!-- modal cart -->
  <div [ngClass]="cartOpen ? 'translate-x-0 ease-out duration-700' : 'translate-x-full ease-in'"
    class="z-50 fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 border-gray-300">
    <div class="flex items-center justify-between">
      <h3 class="text-2xl font-medium text-gray-700">Your cart</h3>
      <button (click)="toggleCart()" class="text-gray-600 focus:outline-none">
        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" stroke="currentColor">
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <hr class="my-3">
    <div class="flex justify-between mt-6">
      <div class="flex">
        <img class="h-20 w-20 object-cover rounded"
          src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
          alt="">
        <div class="mx-3">
          <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
          <div class="flex items-center mt-2">
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
            <span class="text-gray-700 mx-2">2</span>
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <span class="text-gray-600">20$</span>
    </div>
    <div class="flex justify-between mt-6">
      <div class="flex">
        <img class="h-20 w-20 object-cover rounded"
          src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
          alt="">
        <div class="mx-3">
          <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
          <div class="flex items-center mt-2">
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
            <span class="text-gray-700 mx-2">2</span>
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <span class="text-gray-600">20$</span>
    </div>
    <div class="flex justify-between mt-6">
      <div class="flex">
        <img class="h-20 w-20 object-cover rounded"
          src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
          alt="">
        <div class="mx-3">
          <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
          <div class="flex items-center mt-2">
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
            <span class="text-gray-700 mx-2">2</span>
            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <span class="text-gray-600">20$</span>
    </div>
    <div class="mt-8">
      <form class="flex items-center justify-center">
        <input class="form-input w-48" type="text" placeholder="Add promocode">
        <button
          class="ml-3 flex items-center px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
          <span>Apply</span>
        </button>
      </form>
    </div>
    <a
      class="flex items-center justify-center mt-4 px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
      <span>Chechout</span>
      <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        viewBox="0 0 24 24" stroke="currentColor">
        <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </a>
  </div>

  <!-- modal cart end  -->

  <!-- MENU SIDEBAR -->


  <div class=" md:flex flex-col md:flex-row md:min-h-screen w-full ">


    <!-- MAIN CONTENT -->
    <div class="flex-1 p-10 text-2xl">
      <router-outlet></router-outlet>
      <!-- <app-product-list></app-product-list> -->
    </div>
    <!-- END MAIN CONTENT -->
  </div>
</div>

<!-- END PAGE WRAPPER -->

<!-- FOOTER -->
<div class=" bg-linear-pink-invert pb-12">
  <div class="mx-auto container pt-20 lg:pt-20 flex flex-col items-center justify-center">
    <!-- da -->
    <div class="mb-2 ml-4 flex lg:ml-0">
      <a href="#">
        <span class="sr-only">Workflow</span>
        <img class="h-12 w-auto" src="assets/images/logo.png" alt="">
      </a>
    </div>
    <div class="text-black flex flex-col md:items-center f-f-l pt-3">
      <h1 class="text-2xl font-black">Order. Pack. Ship.</h1>

      <div class="my-6 text-base text-color f-f-l">
        <ul class="md:flex items-center">
          <li class="md:mr-6 cursor-pointer pt-4 lg:py-0">About</li>
          <li class="md:mr-6 cursor-pointer pt-4 lg:py-0">Features</li>
          <li class="md:mr-6 cursor-pointer pt-4 lg:py-0">Pricing</li>
          <li class="md:mr-6 cursor-pointer pt-4 lg:py-0">Careers</li>
          <li class="md:mr-6 cursor-pointer pt-4 lg:py-0">Help</li>
          <li class="cursor-pointer pt-4 lg:py-0">Privacy Policy</li>
        </ul>
      </div>
      <div class="text-sm text-color mb-10 f-f-l">
        <p>© 2021 ShipKart. All rights reserved</p>
      </div>
    </div>

    <div class="w-9/12 h-0.5 bg-gray-100 rounded-full"></div>


    <div class="mt-3 flex sm:justify-center xl:justify-start">
      <a href=""
        class="w-8 h-8  border-2 border-gray-400 rounded-full text-center py-1 text-gray-600 hover:text-white hover:bg-blue-600 hover:border-blue-600">
        <i class="fab fa-facebook"></i>
      </a>
      <a href=""
        class="w-8 h-8  border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-400 hover:border-blue-400">
        <i class="fab fa-twitter"></i>
      </a>
      <a href=""
        class="w-8 h-8  border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-red-600 hover:border-red-600">
        <i class="fab fa-google-plus-g"></i>
      </a>
    </div>


  </div>
</div>


<!-- END FOOTER -->